{
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaVersion": 9,
        "sourceType": "module",
        "requireConfigFile": false
    },
    "env": {
        "es6": true,
        "browser": true,
        "jest": true,
        "node": true
    },
    "plugins": [
        "@typescript-eslint"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended"
    ],
    "rules": {
        "semi": ["error", "always"]
    }
}
