version: 2.1

supported-jest-versions: &supported-jest-versions ["local", "28", "29"]

deploy_filters: &deploy_filters
  filters:
    branches:
      ignore: /.*/
    tags:
      # Trigger on tags that begin with `v`
      only: /^v.*/


executors:
  node:
    working_directory: ~/lwc-test
    docker:
      - image: cimg/node:20.12.2


commands:
  save_yarn_cache:
    description: Save Yarn cache for future build
    steps:
      - save_cache:
          key: yarn-v5-{{ checksum "yarn.lock" }}
          paths:
            - ~/.cache/yarn

  restore_yarn_cache:
    description: Restore Yarn cache from previous build
    steps:
      - restore_cache:
          keys:
            - yarn-v5-{{ checksum "yarn.lock" }}


jobs:
  build:
    parameters:
      jest-version:
        type: string
        description: >
          Overrides the installed version of jest. When set to "local" the version of jest set
          frozen in the yarn.lock is used.
        default: "local"
    executor: node
    steps:
      - checkout
      - restore_yarn_cache
      - run:
          name: Install dependencies and build
          command: yarn install --frozen-lockfile
      - save_yarn_cache
      - when:
          condition:
            not:
              equal: [<<parameters.jest-version>>, "local"]
          steps:
            - run:
                name: Override version of jest@<<parameters.jest-version>>
                command: |
                  yarn remove jest jest-environment-jsdom -W --dev
                  yarn add jest@<<parameters.jest-version>> -W --dev
            - when:
                condition:
                  or:
                    - equal: [<<parameters.jest-version>>, "28"]
                    - equal: [<<parameters.jest-version>>, "29"]
                steps:
                  - run: yarn add jest-environment-jsdom@<<parameters.jest-version>> -W --dev
      - run:
          name: Run linter
          command: yarn lint
      - run:
          name: Check format
          command: yarn format:check
      - run:
          name: Run unit tests
          command: yarn test --runInBand

  deploy:
    executor: node
    steps:
      - checkout
      - restore_yarn_cache
      - run:
          name: Install dependencies and build
          command: yarn install --frozen-lockfile
      - run:
          name: Configure NPM authentication
          command: npm config set "//registry.npmjs.org/:_authToken" "$NPM_AUTOMATION_TOKEN"
      - run:
          name: Publish package
          command: yarn release:publish:ci

workflows:
  build_and_test:
    jobs:
      - build:
          matrix:
            parameters:
              jest-version: *supported-jest-versions

  build_and_test_and_deploy:
    jobs:
      - build:
          <<: *deploy_filters
          matrix:
            parameters:
              jest-version: *supported-jest-versions

      - deploy:
          <<: *deploy_filters
          requires:
            - build
